<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../img/favicon.ico">
        <title>Components - Genemede</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/fontawesome.min.css" rel="stylesheet">
        <link href="../css/brands.min.css" rel="stylesheet">
        <link href="../css/solid.min.css" rel="stylesheet">
        <link href="../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" disabled>
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" >
        <link href="../gnmd.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="..">Genemede</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../about/" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="./" class="nav-link active" aria-current="page">Components</a>
                            </li>
                            <li class="nav-item">
                                <a href="../tutorial/" class="nav-link">Tutorial</a>
                            </li>
                            <li class="nav-item">
                                <a href="../developer/" class="nav-link">Developer Guide</a>
                            </li>
                            <li class="nav-item">
                                <a href="../reference/" class="nav-link">Reference</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../about/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../tutorial/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                              <button id="theme-menu" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme" class="nav-link dropdown-toggle">
                                <i class="fa-solid fa-circle-half-stroke fa-fw"></i>
                                <span class="d-lg-none ms-2">Toggle theme</span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                  <button class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                                    <i class="fa-solid fa-sun fa-fw"></i>
                                    <span class="ms-2">Light</span>
                                    <i class="fa-solid fa-check ms-auto d-none"></i>
                                  </button>
                                </li>
                                <li>
                                  <button class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="true">
                                    <i class="fa-solid fa-moon fa-fw"></i>
                                    <span class="ms-2">Dark</span>
                                    <i class="fa-solid fa-check ms-auto"></i>
                                  </button>
                                </li>
                                <li>
                                  <button class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                                    <i class="fa-solid fa-circle-half-stroke fa-fw"></i>
                                    <span class="ms-2">Auto</span>
                                    <i class="fa-solid fa-check ms-auto d-none"></i>
                                  </button>
                                </li>
                              </ul>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="../js/darkmode.js"></script>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#components-of-genemde" class="nav-link">Components of Genemde</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#the-gat" class="nav-link">The GAT</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#the-gui" class="nav-link">The GUI</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#the-hub" class="nav-link">The HUB</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#the-metadata-types" class="nav-link">The Metadata types</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="components-of-genemde">Components of Genemde</h1>
<h2 id="the-gat">The GAT</h2>
<p>The GAT - Genemede Api and Tools - is a python project meant to be run locally. It will store data and allow for several operations, including search and export.</p>
<div class="gnmd-infobox">
Sometime during the development of Genemede, the GAT will be turned into an installable python package, but for now it needs to be installed and configured as a normal python repository.
</div>

<p>The GAT acts as the brain for all your local functionality. It holds the available metadata types and all the data, it provides an api to interact with it and it also has a set of command line tools to help you manage everything.</p>
<h3 id="folders">Folders</h3>
<p>The first time the GAT runs, it will create a <code>genemede</code> folder under your local user folder. There you will find this folder structure:</p>
<pre><code class="language-plaintext">genemede
  ├── data
  ├── logs
  ├── media
  ├── mtypes
  │   ├── imported
  │   └── user
  ├── scratch
  └── config.json
</code></pre>
<p><code>data</code> is where all the local data is stored;</p>
<p><code>logs</code> is where all the operating log files are stored;</p>
<p><code>media</code> is where all the uploaded files are stored (<span class="gnmd-infotext">(uploading is still under development)</span>);</p>
<p><code>mtypes</code> holds non-curated metadata types. You can freely create your own metadata types under the <code>user</code> folder, and the <code>imported</code> folder is reserved for future use.</p>
<p><code>scratch</code> holds temporary files, such as exported json files and debug dumps. It is safe to delete anything inside this folder.</p>
<h3 id="configuration">Configuration</h3>
<p>These are the contents of the current configuration file:</p>
<pre><code class="language-json">{
    &quot;json_indent&quot;: 4,
    &quot;user&quot;: {
        &quot;name&quot;: &quot;default user&quot;,
        &quot;screen_name&quot;: &quot;default user&quot;,
        &quot;workspace&quot;: &quot;genemede&quot;,
        &quot;email&quot;: &quot;example@example.com&quot;
    },
    &quot;folders&quot;: {
        &quot;user_data&quot;: &quot;&lt;homefolder&gt;/genemede/data&quot;,
        &quot;user_media&quot;: &quot;&lt;homefolder&gt;/genemede/media&quot;,
        &quot;user_scratch&quot;: &quot;&lt;homefolder&gt;/genemede/scratch&quot;,
        &quot;system_mtypes&quot;: &quot;&lt;gat_repo_folder&gt;/system/mtypes&quot;,
        &quot;user_mtypes&quot;: &quot;&lt;homefolder&gt;/genemede/mtypes/user&quot;,
        &quot;imported_mtypes&quot;: &quot;&lt;homefolder&gt;/genemede/mtypes/imported&quot;,
        &quot;global_sources&quot;: &quot;&lt;gat_repo_folder&gt;/system/sources&quot;,
        &quot;logfiles&quot;: &quot;&lt;homefolder&gt;/genemede/logs&quot;,
        &quot;user_deleted_data&quot;: &quot;&lt;homefolder&gt;/genemede/data/_deleted&quot;
    }
}
</code></pre>
<div class="gnmd-warningbox">
We don't recommend changing anything except the ```user``` section at this time.
</div>

<p>Your <code>screen_name</code> will be displayed in the GUI, and the GUI will try to use your <code>email</code> to display a Gravatar image if you have one configured. The <code>workspace</code> field will be used in the future to differentiate different data workspaces, and the <code>name</code> field will be used for authentication in the HUB when available.</p>
<div class="gnmd-infobox">
A nicer way to change configuration values is being developed in the GUI, but in the meantime the only way to change configuration values is to edit the json file manually.
</div>

<h3 id="mtypes">MTypes</h3>
<p>Currently, the Genemede metadata types are included in the GAT itself (<a href="#the-metadata-types">see The Metadata types</a>).</p>
<p>You can create your own metadata types under the <code>user_mtypes</code> folder (default <homefolder>/genemede/mtypes/user).</p>
<h2 id="the-gui">The GUI</h2>
<p>As the functionality of Genemede is relatively complex, it would be unwieldy to work exclusively through a command line interface or API. The GUI app provides a frontend for most of the system functionality, using the underlying GAT api, and storing <strong>no data at all</strong>.</p>
<h2 id="the-hub">The HUB</h2>
<p>Currently in development, the Genemede HUB will be a central point to share and search data made available by any Genemede user that decides to make their data available to the public.</p>
<h2 id="the-metadata-types">The Metadata types</h2>
<p>Metadata types are the core of Genemede. Each metadata type defines a field structure and the rules on how a metadata type interacts and links with other types. The Genemede project will maintain a curated list of metadata types tailored for neuroscience but any user can create their own metadata types.</p>
<p>During the initial development phase, the curated metadata types are included in the GAT repository, but will eventually be moved out into their own repository.</p></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../js/base.js"></script>
        <script src="../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
